.banner {
	height: 180px;
	width: 98%;
	margin-left: 1%;
	border-radius: 15px !important;
	border: 2px solid #f1dbb1;
	padding: 5px;
	margin-top: 10px;
}

.bannerDesktop {
	height: 250px;
	width: 100%;
	border-radius: 15px !important;
	border: 2px solid #f1dbb1;
	padding: 5px;
	margin-top: 10px;
}
