.header{
    font-size: 20px;
}

.locationBody{
    margin: 0 auto;
    text-align: center;
}

.description{
    font-size: 14px;
    margin: 7px 0 7px;
}

.useMyCurrentLocation{
    font-size: 14px;
    margin-top: 10px;
}

.inputField input{
    width: 250px;
    font-size: 14px;
}

.confirmBtn{
    font-size: 14px;
    background-color: #f25cc5;
    padding: 10px 25px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
}