.categoryWrapper {
  padding: 0 15px;
}

.cardWrapper {
  display: inline-block;
  background: white;
  width: 200px;
  margin: 15px;
  border-radius: 8px;
  position: relative;
  user-select: none;
  padding: 25px;
  text-align: center;
  border: 1px solid #cccccc;
  min-height: 212px;
  cursor: pointer;
}

.categoryImg {
  width: 120px;
  min-height: 120px;
  min-width: 120px;
  object-fit: cover;
  border-radius: 100%;
  margin: 0 auto;
  padding: 8px;
  border: 1px solid #ddd;
  height: 120px;
  margin: 0 auto 15px;
  transition: transform 0.7s ease-in-out;
}

.cardWrapper:hover .categoryImg {
  transform: scale(1.07);
}

.categoryName {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
  margin-bottom: 0;
}

.mobCategoryWrapper {
  background-color: white;
  padding: 25px 5px;
  margin-top: 10px;
  border-radius: 16px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;

  .imageWrapper {
    text-align: center;
  }

  .category {
    width: calc(31% - 6px);
    padding: 25px 15px 10px;
    background-color: #f2d88f;
    border-radius: 60px 60px 20px 20px;
  }

  .categoryImg {
    width: 70px;
    height: 70px;
    min-height: 70px;
    min-width: 70px;
    padding: 0;
    border: none;
    margin: 0 auto 8px;
  }
}

@media only screen and (max-width: 365px) {
  .mobCategoryWrapper {
    .category {
      width: calc(48% - 6px);
    }

    .categoryImg {
        width: 80px;
        height: 80px;
        min-height: 80px;
        min-width: 80px;
    }

  }
}
