.categoryWrapper {
  padding: 0 15px;
}

.cardWrapper {
  display: inline-block;
  background: white;
  width: 200px;
  margin: 15px;
  border-radius: 8px;
  position: relative;
  user-select: none;
  padding: 25px;
  text-align: center;
  border: 1px solid #cccccc;
  min-height: 212px;
  cursor: pointer;
}

.categoryImg {
  width: 120px;
  min-height: 120px;
  min-width: 120px;
  object-fit: cover;
  border-radius: 100%;
  margin: 0 auto;
  padding: 8px;
  border: 1px solid #ddd;
  height: 120px;
  margin: 0 auto 15px;
  transition: transform 0.7s ease-in-out;
}

.cardWrapper:hover .categoryImg {
  transform: scale(1.07);
}

.categoryName {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
  margin-bottom: 0;
}

.mobCardWrapper {
  background-color: white;
  padding: 15px 5px;
  margin-top: 10px;
  border-radius: 8px;

  .headerWrapper {
    padding: 0 0 5px;
    margin-bottom: 10px;
    border-bottom: 2px solid lightgray;

    .header {
      text-align: left;
      padding-left: 10px;
      font-size: 24px;
      color: #444444;
    }
  }
}

.mobCategoryWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;

  .imageWrapper {
    text-align: center;
    height: 120px;
    width: 100%;
  }

  .category {
    width: calc(31% - 6px);
    background-color: #eeeeee;
  }

  .categoryImg {
    width: 100%;
    min-width: 100%;
    height: 120px;
    min-height: 120px;
    object-fit: fill;
    padding: 0;
    border: none;
    margin: 0 auto;
    border-radius: 0;
  }
}

@media only screen and (max-width: 365px) {
  .mobCategoryWrapper {
    .category {
      width: calc(30% - 6px);
    }
    .imageWrapper{
      height: 90px;
    }
    .categoryImg {
      width: 100%;
      height: 90px;
      min-height: 90px;
      min-width: 100%;
    }
  }
}
