.headerWrapper {
  min-height: 60px;
  background-color: #f25cc5;
  padding: 10px;
}

.rowWrapper,
.linkWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.linkWrapper {
  justify-content: flex-start;
  gap: 24px;
}

.logo {
  height: 45px;
  width: auto;
  cursor: pointer;
}

.link {
  font-size: 16px;
  color: white;
  cursor: pointer;
}

.dropDown {
  position: relative;
}

.dropDownWrapper {
  background-color: white;
  z-index: 199;
  position: absolute;
  top: 30px;
  right: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  min-width: 225px;
  text-align: center;

  .label {
    color: #cccccc;
    margin-bottom: 0;
    font-size: 12px;
  }

  .btnWrapper {
    border-bottom: 1px solid #cccccc;
    // margin: 0 0 10px;
    padding: 10px;
  }

  .optionWrapper {
    padding: 20px 20px 15px;
    text-align: left;
  }

  .signInBtn {
    background-color: #f25cc5;
    padding: 10px 15px;
    font-size: 14px;
    color: white;
    margin: 10px auto;
    width: 70%;
    border-radius: 8px;
  }

  .link {
    color: black;
    font-size: 14px;
  }

  .comingSoon {
    margin-left: 5px;
    font-size: 12px;
    color: red;
  }
}
