.searchWrapper{
    margin: 0 auto;
    padding: 70px 0;
    text-align: center;
    min-height: 250px;
    background-image: url('../public/images/home-page/search-bg.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: -4px;
}

.searchHeader{
    font-size: 26px;
    margin-bottom: 10px;
    text-align: center;
    color: white;
}

.searchBar{
    border: 1px solid #f25cc5;
    border-radius: 8px 0 0 8px;
}