.searchWrapper{
    margin: 35px auto;
    text-align: center;
}

.searchHeader{
    font-size: 26px;
    margin-bottom: 10px;
    text-align: center;
}

.searchBar{
    border: 1px solid #f25cc5;
    border-radius: 8px 0 0 8px;
}