.searchWrapper {
	margin: 0 auto;
	padding: 70px 0;
	text-align: center;
	min-height: 250px;
	background-image: url("../public/images/home-page/search-bg.webp");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 65px;
}

.searchHeader {
	font-size: 18px;
	margin-bottom: 10px;
	text-align: center;
	color: white;
}

.searchBar {
	border: 1px solid #F27100;
	border-radius: 0px 0 0 0px;
}
