.footerWrapper {
	background-color: #6e6e6e;
	padding-top: 9px;
}
.subFooter1 {
	text-align: center;
	background-color: #6e6e6e;
	border-bottom: 1px solid #000000;
	margin-bottom: 10px;
}
.text {
	color: white;
	padding: 5px;
	font-size: 14px;
}

.linksWrapper {
	margin: 0 auto 15px;
	display: flex;
	gap: 90px;
	justify-content: space-around;
}
.head {
	justify-content: space-around;
	color: rgb(255, 255, 255);
	font-size: 28px;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
}
.links {
	font-size: 14px;
	margin-bottom: 5px;
	margin-left: 13px;
	cursor: pointer;
	font-family: Arial, Helvetica, sans-serif;
	color: white;
}

.links:hover {
	text-decoration: underline;
}

.subFooter {
	border-top: 1px solid #000000;
}

.socialMediaWrapper {
	margin: 35px;
	display: flex;
	gap: 20px;
	justify-content: flex-start;
	margin-left: 80px;
}
.copyRight {
	margin-bottom: 0;
	text-align: center;
	font-size: 14px;
	color: white;
	background-color: #000000;
}

.chhayakartTxt {
	color: #f25cc5;
	font-weight: bold;
}
