$color-green: #51bd88;
$color-black: #111;

.header {
  color: #111;
  font-size: 18px;
  font-weight: 700;
  text-transform: none;
  margin: 0;
  position: relative;
  z-index: 2;
  text-transform: uppercase;
}

.heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link {
  color: $color-green;
  text-align: right;
  padding-left: 16px;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0;
  cursor: pointer;
}

.link:hover{
    text-decoration: underline;
}

.headingWrapper {
  position: relative;
}
