.header {
  font-size: 2.2rem;
  font-weight: bolder;
  text-transform: capitalize;
}

.bodyWrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
}

.formWrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;
}

.inputWrapper {
  margin: 15px 0;
}

button {
  background: none;
  font-size: 3rem;
}

.ck-logo {
  width: 100px;
  height: 100px;
  margin: 30px;
}

.description {
  font-size: 1.5rem;
  color: var(--sub-text-color);
  text-align: center;
}

.description .phoneNumber {
  color: var(--secondary-color);
}

.terms-and-policy {
  color: var(--secondary-color);
  text-decoration: none;
  text-transform: capitalize;
  cursor: pointer;
}

.terms-and-policy:hover {
  color: var(--secondary-color);
  text-decoration: none;
  text-transform: capitalize;
}

.error-msg {
  font-size: 1.6rem;
  float: right;
  color: rgba(189, 26, 26, 0.781);
}

.PhoneInput {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  font-size: 2rem;
}
.modal-content .header {
  /* padding: ; */
}
.PhoneInput .PhoneInputInput {
  color: #141a1f;
  width: 100%;
  border-radius: 5px;
  padding: 15px;
  background: #141a1f0d;
  border: 1px solid #141a1f80;
  flex-grow: 1;
  font-size: 16px;
}

.PhoneInput .PhoneInputCountry {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 3px;
  padding: 5px;
  border-radius: 8px;
  background: #141a1f0d;
  border: 1px solid #141a1f80;
  color: #141a1f;
}

.PhoneInput .PhoneInputCountry select {
  width: 70%;
}

.PhoneInput .PhoneInputCountry img {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.PhoneInput .PhoneInputCountry .PhoneInputCountryIcon {
  width: 30%;
  height: 30px;
}

button[type="submit"] {
  margin-top: 30px;
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 400 !important;
  letter-spacing: 1px;
  padding: 15px;
  color: #fff;
  text-decoration: none;
  margin-left: 10px;
  background-color: var(--secondary-color);
}
button[type="submit"]:hover {
  background-color: var(--secondary-color);
  color: #fff;
  opacity: 1;
}
.otp-container {
  margin: 2rem 4%;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  width: 100%;
}

input[type="password"] {
  background: rgba(155, 151, 151, 0.205);
}

.otp-container > input {
  margin-right: 3px;
}

@media screen and (max-width: 75rem) {
  .form {
    width: 100%;
  }
}
